setuptools==80.9.0
fastapi==0.116.1
uvicorn==0.35.0
pydantic-settings==2.10.1
apscheduler==3.11.0
motor==3.7.1
python-dotenv==1.1.1
python-dateutil==2.9.0
neo4j==5.28.1
univers==31.0.0
z3-solver==4.15.1.0
toml==0.10.2
aiohttp==3.12.14
aiocache==0.12.3
aiofiles==24.1.0
pyjwt==2.10.1
pyyaml==6.0.2
slowapi==0.1.9